td, th {
		font-size: 2em;
}

body{
	background-image: url(../img/bg.png);
	background-size: 100%; 
}

table{
	
}

.right-sided{
	text-align: right;
}

.clock{
	font-size: 4em;
	color: white;
}

.clock-wrap{
	width: 30%;
	margin-left: 50%;
	margin-top: -50%;
}

.balls{
	width: 12%;
	padding: 2%;
	border-radius: 10px;
	background-color: blue;
}